{{ partial "top.html" . }}
<h1>{{ .Title }}</h1>
<h4>{{ i18n "T_Published" }} {{ dateFormat "2 Jan 2006" .Date }}</h4>
{{ partial "share.html" . }}
<article>
    {{ .Content }}
</article>

{{ template "_internal/disqus.html" . }}

{{ partial "bottom.html" . }}
