<meta charset="utf-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="author" content="{{ with .Site.Params.author }}{{ . }}{{ end }}">
{{ if isset . "Description" }}
<meta name="description" content="{{ .Description }}">
{{ else }}
<meta name="description" content="{{ with .Site.Params.description }}{{ . }}{{ end }}">
{{ end }}
<title>{{ if isset . "Title" }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}</title>
{{ .Hugo.Generator }}
{{ partial "highlightjs.html" }}
<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700" rel="stylesheet" type="text/css">
{{ partial "css" . }}
