<nav class="col-md-3">
    <h3 class="home-link"><a href="{{ .Site.LanguagePrefix }}/">{{ i18n "T_root" }} - {{ .Site.LanguagePrefix }}/</a></h3>
    {{ with .Site.Sections.post }}
    <div id="last-posts" class="open">
        <h3 data-open="last-posts">{{ i18n "T_recent_posts" }}</h3>
        <ul>
            {{ range first 10 . }}
            <li><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a></li>
            {{ end }}
        </ul>
    </div>
    {{ end }}

    {{ with .Site.Sections.people }}
    <div id="people" class="open">
        <h3 data-open="people">{{ i18n "T_people" }}</h3>
        <ul class="people">
            {{ range $page := . }}
            {{ with $page.Page }}
            <li>
                <a href="{{ .RelPermalink }}">
                    {{ with .Params.email }}<img class="avatar small" src="https://www.gravatar.com/avatar/{{ trim . " " | md5 }}?s=100&d=identicon"></img>{{ end }}
                    <span class="name">{{ .Params.name }}</span>
                </a>
                {{ with .Params.homepage }}<a href="{{.}}"><span class="fa fa-link"></span></a>{{end}}
                {{ with .Params.github }}<a href="https://github.com/{{.}}"><span class="fa fa-github"></span></a>{{end}}
                {{ with .Params.gitlab }}<a href="https://gitlab.com/{{.}}"><span class="fa fa-gitlab"></span></a>{{end}}
                {{ if .Params.bio }}<br/><a href="{{ .RelPermalink }}"><span class="bio">{{ .Params.bio }}</span></a>{{ end }}
            </li>
            {{ end }}
            {{ end }}
        </ul>
    </div>
    {{ end }}

    {{ with .Site.Sections.projects }}
    <div id="projects" class="open">
        <h3 data-open="projects">{{ i18n "T_projects" }}</h3>
        <ul class="projects">
            {{ range $page := . }}
            {{ with $page.Page }}
            <li>
                <a href="{{ .RelPermalink }}">
                    <span class="name">{{ .Params.name }}</span>
                </a>
                {{ with .Params.webpage }}<a href="{{.}}"><span class="fa fa-link"></span></a>{{end}}
                {{ with .Params.github }}<a href="https://github.com/{{.}}"><span class="fa fa-github"></span></a>{{end}}
                {{ with .Params.gitlab }}<a href="https://gitlab.com/{{.}}"><span class="fa fa-gitlab"></span></a>{{end}}
                {{ if .Params.short_description }}<br/><a href="{{ .RelPermalink }}"><span class="short-description">{{ .Params.short_description }}</span></a>{{ end }}
            </li>
            {{ end }}
            {{ end }}
        </ul>
    </div>
    {{ end }}

    {{ with .Site.Taxonomies.categories }}
    <div id="categories" class="open">
        <h3 data-open="categories">{{ i18n "T_categories" }}</h3>
        <ul class="categories">
            {{ range $name, $taxonomy := . }}
            <li><a href="/categories/{{ $name | urlize }}">{{ $name }}</a></li>
            {{ end }}
        </ul>
    </div>
    {{ end }}

    {{ if gt .Translations 2 }}
      <div id="languages" class="open">
        <h3 data-open="languages">{{ i18n "T_languages" }}</h3>
        <ul class="languages">
        {{ range .Translations }}
          <li><a href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a></li>
        {{ end }}
        </ul>
      </div>
    {{ else }}
      <div id="languages">
      {{ range .Translations }}
        <h3 class='link'><a href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a></h3>
      {{ end }}
      </div>
    {{ end }}
</nav>
