/* from theme
// Reset and dependencies
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/print";
// @import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/glyphicons";

// Core CSS
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
//@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/type";
//@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/code";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/tables";
//@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/forms";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/buttons";

//// Components
//@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/component-animations";
//@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/dropdowns";
//@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/button-groups";
//@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/input-groups";
//@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/navs";
//@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/navbar";
//@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/breadcrumbs";
//@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/pagination";
//@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/pager";
//@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/labels";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/badges";
//@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/jumbotron";
//@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/thumbnails";
//@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/alerts";
//@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/progress-bars";
//@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/media";
//@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/list-group";
//@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/panels";
//@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/responsive-embed";
//@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/wells";
//@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/close";

// Utility classes
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";
*/
.modal-open {
  overflow: hidden; }

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0; }
  .modal.fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out; }
  .modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto; }

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px; }

.modal-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0; }

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000; }
  .modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0); }
  .modal-backdrop.in {
    opacity: 0.5;
    filter: alpha(opacity=50); }

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5; }
  .modal-header:before, .modal-header:after {
    content: " ";
    display: table; }
  .modal-header:after {
    clear: both; }

.modal-header .close {
  margin-top: -2px; }

.modal-title {
  margin: 0;
  line-height: 1.42857; }

.modal-body {
  position: relative;
  padding: 15px; }

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5; }
  .modal-footer:before, .modal-footer:after {
    content: " ";
    display: table; }
  .modal-footer:after {
    clear: both; }
  .modal-footer .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0; }
  .modal-footer .btn-group .btn + .btn {
    margin-left: -1px; }
  .modal-footer .btn-block + .btn-block {
    margin-left: 0; }

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll; }

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto; }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); }
  .modal-sm {
    width: 300px; } }

@media (min-width: 992px) {
  .modal-lg {
    width: 900px; } }

#search-bar {
  color: #2aa198; }
  #search-bar input {
    padding: 2px;
    width: 90%;
    background: #001f27;
    border: 0px;
    border-bottom: 2px solid #2aa198;
    border-radius: 2px; }
    #search-bar input[readonly] {
      cursor: pointer;
      background: inherit; }
  #search-bar i {
    cursor: pointer; }

#searchresults .searchResult {
  border-bottom: 1px solid #2aa198;
  border-radius: 8px;
  margin: 1em; }
  #searchresults .searchResult:hover {
    background: #003b4a;
    cursor: pointer; }
  #searchresults .searchResult .header {
    font-size: 2em;
    padding-left: 1em; }
    #searchresults .searchResult .header .date {
      text-align: right;
      font-size: 18px;
      padding-left: 2em; }
  #searchresults .searchResult .body {
    padding: 1em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; }
  #searchresults .searchResult .tags {
    text-align: right; }
    #searchresults .searchResult .tags span {
      margin: 2px; }

body {
  font-size: 16px; }

code {
  color: #b58900; }

#root-links {
  margin-top: 10px;
  background-color: #001f27;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  overflow: wrap;
  display: block; }
  #root-links .home-link {
    white-space: nowrap; }

.btn-theme {
  background: inherit;
  color: #2aa198;
  border-color: #2aa198;
  white-space: inherit;
  width: 100%; }
  .btn-theme:hover {
    background: #003b4a;
    color: #2aa198;
    text-decoration: underline; }
  .btn-theme:focus {
    color: inherit; }

img {
  max-width: 100%; }

.project_list {
  text-align: center; }
  .project_list .title {
    font-size: 36px; }
  .project_list .badges {
    text-align: right; }

.content {
  padding-bottom: 30px; }

.note {
  padding-left: 0.5em;
  border: 1px solid;
  border-left: 1em solid;
  text-align: center;
  max-width: 80%;
  margin-left: 10%; }
  .note.warning {
    border-color: #e67e22; }
    .note.warning:before {
      content: "\f071";
      color: #e67e22; }
  .note:before {
    content: "\f024";
    font-family: FontAwesome;
    font-size: 2em;
    padding-right: 0.5em; }

form input {
  color: #2aa198; }
  form input::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #839496; }
  form input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #839496; }
  form input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #839496; }
  form input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #839496; }
