{{ partial "top.html" . }}

<div class='project row'>
  <div class='header row'>
    <div class='col-md-10 col-md-offset-1'>
      {{ if .Params.webpage }}
      <a href="{{ .Params.webpage }}">
        <h1>{{ .Params.name }}</h1>
      </a>
      {{ else }}
        <h1>{{ .Params.name }}</h1>
      {{ end }}
      
      <div class='buttons'>
        {{ with .Params.docs }}
        <a href="{{ . }}">
          <span class="fa fa-book fa-2x"></span>  {{ i18n "T_documentation" }}
        </a>
        {{ end }}
      
      {{ if .Params.github }}
        <a href="https://github.com/{{ .Params.github }}/archive/master.zip">
          <span class="fa fa-file-archive-o fa-2x"></span>  {{ i18n "T_download_project_zip" }}
        </a>
        <a class="" role="button" href="https://github.com/{{ .Params.github }}">
          <span class="fa fa-code-fork fa-2x"></span>  {{ i18n "T_fork_project" "Github" }}
        </a>
      {{ else if .Params.gitlab }}
        <a href="https://gitlab.com/{{ .Params.gitlab }}/repository/archive.zip?ref=master">
          <span class="fa fa-file-archive-o fa-2x"></span>  {{ i18n "T_download_project_zip" }}
        </a>
        <a class="" role="button" href="https://gitlab.com/{{ .Params.gitlab }}/forks/new">
          <span class="fa fa-code-fork fa-2x"></span>  {{ i18n "T_fork_project" "Gitlab" }}
        </a>
      {{ end }}
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-10 col-md-offset-1'>
    {{ .Content }}
    </div>
  </div>

</div>

{{ partial "bottom.html" . }}
