@import "./variables";
@import "./custom-bootstrap";
@import "./mixins";
@import "./paginator";
@import "./font-awesome";

html {
  height: 100%;
}

body {
  min-height: 100%;
  height: 100%;
  font-family: 'Source Code Pro';
  background-color: $bg-color;
  color: $text-color;
  overflow-x: hidden;
  &>.container-fluid {
    @extend .no-padding-left-and-right;
  }
}

.page-container {
  height: 100%;
  min-height: 100%;
}

a {
  color: $link-color;
  &:hover {
    color: $link-color;
    text-decoration: underline;
  }
}

.content {
  background-color: $content-bg-color;
  min-height: 100%;
  padding-top: 1px;
  padding-bottom: 15px;
}

.articles-list article {
  margin-bottom: 25px;
}

.menu {
  padding-left: 0px;
  nav {
    @media (min-width: $screen-md-min) {
      padding-left: 0px;
      padding-right: 0px;
      position: fixed;
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
    }

    @media (max-width: $screen-sm-max) {
      ul {
        display: none;
      }
    }

    h3 {
      @extend .no-user-select;
      cursor: pointer;
      font-size: 14px;
      padding: 4px 0px 4px 15px;
      margin: 0px;
      &.home-link {
        text-align: center;
      }
      &:not(.home-link):before {
        @extend .fa;
        @extend .fa-folder;
        margin-right: 8px;
      }

      a {
        color: inherit;
      }
      &.link {
        &:hover {
          background-color: $menu-hover-bg-color;
        }
      }
    }

    .open {
      h3:before {
        @extend .fa-folder-open;
      }
    }

    ul {
      padding-left: 0px;
      margin: 0px;
      li {
        list-style: none;
        padding: 4px 30px 4px 40px;
        margin-right: -15px;
        &:before {
          @extend .fa;
          @extend .fa-file;
          margin-right: 8px;
        }

        &:hover {
          background-color: $menu-hover-bg-color;
        }

        a, a:hover {
          color: $text-color;
          text-decoration: none;
        }
      }

      &.tags li:before {
        @extend .fa-tag;
      }

      &.categories li:before {
        @extend .fa-book;
      }
    }

    #people {
      h3:before{
        @extend .fa-users;
      }   

      ul li:before {
        @extend .fa-user;
      }
    }

    #projects {
      h3:before {
        @extend .fa-terminal
      }

      ul li:before {
        @extend .fa-code-fork
      }
    }

    #languages {
      h3:before {
        @extend .fa-globe
      }

      ul li:before {
        @extend .fa-language
      }
    }


    @media (max-width: $screen-sm-max) {
      h3 {
        padding: 10px 0px 10px 15px;
      }
      ul li {
        padding: 10px 30px 10px 40px;
      }
    }
  }
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 10px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.fb-share-button iframe {
  margin-top: -5px;
}

.avatar {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;

    &.small {
        max-width: 30px;
    }

    &.large {
        max-width: 200px;
    }
}

.person .header {

  .avatar {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: block;
  }

  .links {
    text-align: center;
  }
}

.project .header .buttons {
  float:right;

  a {
    white-space: nowrap;
  }
}

.projects .short-description {
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}