{{ with $.Site.Pages }}
    <div id='root-links' class='row'>
      {{ $sorted := sort . "Params.order" }}
      {{ range $page := where $sorted "Type" "root" }}
        <span class="home-link"><a href="{{ .RelPermalink }}">&lt;  {{ .Title }} - {{ .RelPermalink }}  &gt;</a></span>
      {{ end }}
    </div>
{{ end }}