<script src="/js/theme.min.js" type="text/javascript"></script>
<script id='app' data-siteparams='{{ .Site.Params | jsonify }}' data-lang='{{ .Lang }}' src="/generated-js/app.js"></script>

<script>
  ((window.gitter = {}).chat = {}).options = {
    room: '{{ .Site.Params.gitter }}',
    activationElement: document.getElementById('gitter-sidecar') ? '#gitter-sidecar' : undefined,
  };
</script>
<script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>