<!doctype html>
<html>
<head>
    {{ partial "head.html" . }}
    {{ if .Site.RSSLink }}
        <link href="{{ .Site.RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
        <link href="{{ .Site.RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
</head>
<body>
{{ with $.Site.Params.tracking }}
    <img src="{{ $.Site.Params.tracking }}"></img>
{{ end }}
<div class="page-container container-fluid">
<div class="col-md-3 menu">
    {{ partial "menu.html" . }}
</div>
<div class="col-md-9 content">
