
{{ partial "top.html" . }}

 {{ .Content }}
<div class='row'>
  <div class='col-md-6 col-xs-12'>
    <button type="button" class="btn btn-theme btn-lg" data-toggle="modal" data-target="#newsletterSignup">
        <span class="fa fa-envelope"></span> {{ i18n "T_sign_up_blog_updates" }}
    </button>
  </div>
  <div class='col-md-6 col-xs-12'>
    <button id='gitter-sidecar' class="btn btn-theme btn-lg">
        <span class="fa fa-comments-o"></span> {{ i18n "T_chat_with_us" }}
    </button>
  </div>
</div>

{{ with .Site.Sections.projects }}
  <div class='row project_list'>
    {{ range where . ".Page.Params.display_on_homepage" "ne" "hidden" }}
    {{ with .Page }}
        <div class='col-md-6'>
            <a href="{{ .RelPermalink }}">
            {{ with .Params.name }}<span class='title'>{{ . }}</span>{{ end }}
            {{ if .Params.feature_image }}
            <img src="{{ .Params.feature_image }}" alt="{{ .Params.name }}" />
            {{ end }}
            </a>

            <div class="content">{{ .Plain | truncate 250 }} <a href="{{ .RelPermalink }}">Read More</a></div>
            <div class='badges'>
                {{ with .Params.gitlab }}
                <a href='https://gitlab.com/{{ . }}/forks' class='num-forks-widget' data-source='gitlab' data-projectpath='{{ . }}' >
                    <button class="btn btn-default">
                        <span class="fa fa-code-fork" ></span> Forks
                    </button>
                </a>
                <a href='https://gitlab.com/{{ . }}/issues' class='num-issues-widget' data-source='gitlab' data-projectpath='{{ . }}' >
                    <button class="btn btn-default">
                        <span class="fa fa-exclamation" ></span> Issues
                    </button>
                </a>
                <img src='https://gitlab.com/{{ . }}/badges/master/build.svg' />
                {{ end }}
            </div>

        </div>
    {{ end }}
    {{ end }}
  </div>
{{ end }}

<hr />

<div class='row'>
  <div class='col-md-6 col-md-offset-6 col-xs-12' id='search-bar' data-resultsdiv='searchresults'>
    <input type="search" placeholder="search..." readonly='readonly'></input>
    <i class='fa fa-spin fa-spinner' style='display: none'></i>
    <i class='fa fa-search' ></i>
  </div>
</div>

<div class='row' id='searchresults'>
</div>

<div class='row' style='padding-top: 4em'>
</div>

{{ partial "root_links.html" . }}

<!-- Modal -->
<div class="modal fade" id="newsletterSignup" tabindex="-1" role="dialog" aria-labelledby="newsletterLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-body">
            {{ partial "mailchimp.html" .}}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>

{{ partial "bottom.html" . }}
