@import '../../themes/hugo-code-editor-theme/static/css/variables.scss';

#search-bar {
  color: $link-color;

  input {
    padding: 2px;
    width: 90%;
    background: $bg-color;
    border: 0px;
    border-bottom: 2px solid $link-color;
    border-radius: 2px;

    &[readonly] {
      cursor: pointer;
      background: inherit;
    }
  }

  i {
    cursor: pointer;
  }
}

#searchresults {
  .searchResult {
    border-bottom: 1px solid $link-color;
    border-radius: 8px;
    margin: 1em;

    &:hover {
      background: $menu-hover-bg-color;
      cursor: pointer;
    }

    .header {
      font-size: 2em;
      padding-left: 1em;

      .date {
        text-align: right;
        font-size: 18px;
        padding-left: 2em;
      }
    }

    .body {
      padding: 1em;    
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .tags {
      text-align:right;

      span {
        margin: 2px;
      }
    }
  }
}