@import '../../themes/hugo-code-editor-theme/static/css/variables.scss';
@import 'custom-bootstrap.scss';
@import 'search.scss';

body {
  font-size: 16px;
}

code {
  color: #b58900     // solarized dark
  // color: #93C763    // obsidian
  // color: #FF007F    // sublime text 2
}

#root-links {
  margin-top: 10px;
  background-color: $bg-color;

  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  overflow: wrap;

  display: block;

  .home-link {
    white-space: nowrap; 
  }
}

.btn-theme {
  background: inherit;
  color: $link-color;
  border-color: $link-color;
  white-space: inherit;
  width: 100%;

  &:hover {
    background: $menu-hover-bg-color;
    color: $link-color;
    text-decoration: underline;
  }

  &:focus{
    color: inherit;
  }
}

img {
  max-width: 100%;
}

.project_list {
  text-align: center;
  .title {
    font-size: 36px;
  }

  .badges {
    text-align: right;
  }
}

.content {
  padding-bottom: 30px; // make sure everything is visible over the root links
}

$warning_color: #e67e22;

.note {
  padding-left: 0.5em;
  border: 1px solid;
  border-left: 1em solid;
  text-align: center;
  max-width: 80%;
  margin-left: 10%;

  &.warning{ 
    border-color: $warning_color; 

    &:before {
      content: "\f071"; // fa-exclamation-triangle
      color: $warning_color;
    }
  }

  &:before{
    content: "\f024";  // fa-flag
    font-family: FontAwesome;
    font-size: 2em;
    padding-right: 0.5em;
  }
}

form {

  input {
    color: $link-color;

    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color:  $text-color;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color:  $text-color;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color:  $text-color;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color:  $text-color;
    }
  }
}