{{ partial "top.html" . }}

<div class='person row'>
  <div class='header row'>
    <div class='col-md-6 col-md-offset-3'>
        {{ with .Params.email }}<img class="avatar large" src="https://www.gravatar.com/avatar/{{ trim . " " | md5 }}?s=200&d=identicon"></img>{{ end }}
        <div class='links'>
        {{ with .Params.homepage }}<a href="{{.}}"><span class="fa fa-link fa-2x"></span></a>{{end}}
        {{ with .Params.github }}<a href="https://github.com/{{.}}"><span class="fa fa-github fa-2x"></span></a>{{end}}
        {{ with .Params.gitlab }}<a href="https://gitlab.com/{{.}}"><span class="fa fa-gitlab fa-2x"></span></a>{{end}}
        </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-10 col-md-offset-1'>
    {{ .Content }}
    </div>
  </div>

</div>

{{ partial "bottom.html" . }}
